<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soleado</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="icon" type="image/jpg" href="img/favicon.ico"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <header>
        <a href="index.html">
            <img src="../img/logo.png">
        </a>


        <div class="menu">
            <ul id="lista-menu">
                <li class="li-menu"></i><i class="bi bi-people-fill"></i><a  href="clientes">Clientes CRUD</a></li>
                <li><button class="ingresar" id="ingreso" onclick="window.location.href = '../paginaAcceso.html';">Ingresar</button></li>
                <li class="li-menu"></i><i class="bi bi-house-check-fill"></i><a  href="../index.html">Inicio</a></li>
                <li class="li-menu"><i class="bi bi-bag-heart-fill"></i><a  href="../tienda.html">Tienda</a></li>
                <li class="li-menu"><i class="bi bi-bookmark-check-fill"></i><a  href="../nosotros.html">Quines somos?</a></li>
                <li class="li-menu"><i class="bi bi-envelope-check-fill"></i><a  href="../contacto.html">Escribenos!</a></li>
                <li class="icono-carrito"><a href="../carrito.html"><i class="bi bi-cart-check-fill"></i></a></li>
                <a href="#" id="cerrar" class="bi bi-x-circle-fill"></a>
            </ul>
        </div>

        <div id="movil">
            <a href="../carrito.html"><i class="bi bi-cart-check-fill"></i></a>
            <i id="hamburguesa" class="bi bi-list"></i>
        </div>

    </header>



    <section id="banerClientes" class="banerClientes">
        <div id="banerIngresarFormulario" class="banerIngresarFormulario">
           
            <div id="clientesitos" class="contenedorFormularioClientes">
                <div class="clientes-justi">


   <!--    <h1>Hola mundo desde ejs</h1> -->
   <h2>Formulario Cientes</h2>
   <form action="/crud_c" method="POST">
       <input class="cliente-input" type="text" id="txt_id" name="txt_id" placeholder="id ej: 0">
       <input  class="cliente-input" type="text" id="txt_identificacion" name="txt_identificacion" placeholder="identificacion">
       <input  class="cliente-input" type="text" id="txt_nombres" name="txt_nombres" placeholder="Nombres">
       <input class="cliente-input" type="text" id="txt_apellidos" name="txt_apellidos" placeholder="Apellidos">
       <input class="cliente-input" type="text" id="txt_direccion" name="txt_direccion" placeholder="Direccion">
       <input class="cliente-input" type="text" id="txt_telefono" name="txt_telefono" placeholder="Telefono">
       <input class="cliente-input" type="date" id="txt_fn" name="txt_fn" placeholder="yyyy-MM-dd">
       <div class="botonesClientes">
      <button class="registroBoton" type="submit" id="btn_crear" name="btn_crear" value="crear">Crear</button>
      <button class="registroBoton" type="submit" id="btn_actualizar" name="btn_actualizar" value="actializar">Actualizar</button>
      <button class="registroBoton" type="submit" id="btn_borrar" name="btn_borrar" value="borrar">Borrar</button>
    </div>  
    </form>
</div>

<div class="tabla-clientes ">
    <h2>Listado Clientes</h2>
   <table class="table" border="3px">
       <thead>
           <tr>
               <th>id</th>
               <th>identificacion</th>
               <th>nombres</th>
               <th>apellidos</th>
               <th>direccion</th>
               <th>telefono</th>
               <th>nacimiento</th>
           </tr>
       </thead>
       <tbody>
          <% resultado.forEach((cliente) => { %>

          
           <tr>
               <td><%= cliente.id_cliente %></td>
               <td><%= cliente.identificacion %></td>
               <td><%= cliente.nombres %></td>
               <td><%= cliente.apellidos %></td>
               <td><%= cliente.direccion %></td>
               <td><%= cliente.telefono %></td>
               <td><%= cliente.fecha_nacimiento %></td>
           </tr>
           <% }) %>
       </tbody>
     </table>
    
    
     </div></div></section>



<footer class="contenedorSections">
    <div class="footer-columna-izquierda">
        <img class="logo" src="img/logo.png" alt="">
        <h4>Contacto</h4>
        <p><strong>Dirección:</strong> Avenida Siempreviva 742</p>
        <p><strong>Telefono:</strong> +01 234 5678</p>
        <p><strong>Horario:</strong> 09:00 am - 18:00, Lunes - Viernes</p>
        <div class="siguenos">
            <h4>Siguenos</h4>
            <div class="redes">
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-messenger"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
    </div>

    <div class="footer-columna-izquierda">
        <h4>Soleado</h4>
        <a href="#">Quienes somos?</a>
        <a href="#">Preguntas Frecuentes</a>
        <a href="#">Terminos y Condiciones</a>
    </div>

    

    <div class="footer-columna-derecha">
        <img src="../img/mediosPago/pagos.png" alt="medios de pago">
    </div>
    <div class="derechos">
        <p>© 2023, Todos los derechos reservados Soleado</p>
    </div>
</footer>



<script src="../script.js"></script> 
</body>
</html>
